backup-MiifOYrZC5U5tfMU.json
{"createdAt":"2025-06-24T13:07:40.823Z","updatedAt":"2025-06-24T14:07:48.000Z","id":"MiifOYrZC5U5tfMU","name":"backup","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"11a97cab-d0c2-46a7-99da-b3620928e449","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2240,100]},{"parameters":{"options":{}},"id":"a6464680-7c77-42bb-8693-09d702327997","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2040,100]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"3fd305e5-e31b-48f6-b2e9-5d8ceb4eed86","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1840,100]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"2aed5513-95ca-4b2a-836d-7364e22aeb89","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1640,100]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/lebedevOK/testbackup","mode":"url"},"repository":{"__rl":true,"value":"testbackup","mode":"list","cachedResultName":"testbackup","cachedResultUrl":"https://github.com/lebedevOK/testbackup"},"filePath":"="},"id":"ca6e4f40-514a-414b-9314-aa7b6fb3c2cf","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1440,100],"alwaysOutputData":true,"webhookId":"14af4e53-9261-4961-847f-eb211d262700","credentials":{"githubOAuth2Api":{"id":"9vCeWWQNboCv28UZ","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"760f71f7-8c55-4e80-b055-42b6a7ac4810","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1240,100]},{"parameters":{"filters":{},"requestOptions":{}},"id":"fbe926d1-8fee-4c5b-8d6a-b171db6dc4cd","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1040,100],"credentials":{"n8nApi":{"id":"S1uKhxE9InDz2UZ8","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"265b6cb3-76a0-4d94-b614-cf6a5e0116e8","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-840,100]},{"parameters":{"batchSize":1,"options":{}},"id":"ffb97ab2-ada5-4313-b0b5-860d70b643fa","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-600,100]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"b9fb44a5-cbac-4e54-9a7e-2c340f21a899","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-360,20]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/lebedevOK/testbackup","mode":"url"},"repository":{"__rl":true,"value":"testbackup","mode":"list","cachedResultName":"testbackup","cachedResultUrl":"https://github.com/lebedevOK/testbackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e77ca150-fcbc-47db-8834-3b0ff6b9e91a","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-140,-180],"webhookId":"e442a88d-879c-4bca-96a5-fff991044f6c","credentials":{"githubOAuth2Api":{"id":"9vCeWWQNboCv28UZ","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/lebedevOK/testbackup","mode":"url"},"repository":{"__rl":true,"value":"testbackup","mode":"list","cachedResultName":"testbackup","cachedResultUrl":"https://github.com/lebedevOK/testbackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"8ae2f6ef-eaa2-420d-8f82-1d18900a864c","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-140,220],"webhookId":"425c4eda-7ba4-4ecd-a206-41318223140b","credentials":{"githubOAuth2Api":{"id":"9vCeWWQNboCv28UZ","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a05a4729-b2dc-4f1b-99ae-c3744cd00864","triggerCount":0,"tags":[]}